
<p style="margin: 50px 30px">
<% start_event %>
<button type="button" name="button" id="start">Start Game</button>


</p>


<div id="your_hand" style="width: 50%; text-align: center; float: left">
<h2>You</h2>
<p>
  <% if get_playerMount.empty? == false %>
  <%= image_tag(@get_playerMount.first.url, width: '300') %>
  <br>
  <%= label("", "Força") %>
  <%= radio_button("card", "", get_playerMount.first.forca) %>
  <%= label("", "Velocidade") %>
  <%= radio_button("card", "", get_playerMount.first.velocidade) %>
  <%= label("", "Habilidade") %>
  <%= radio_button("card", "", get_playerMount.first.habilidade) %>
  <%= label("", "Equipamento") %>
  <%= radio_button("card", "", get_playerMount.first.equipamento) %>
  <%= label("", "Inteligência") %>
  <%= radio_button("card", "", get_playerMount.first.inteligencia) %>

  <% end %>
</p>

</div>

<div id="cpu_hand" style="width: 50%; text-align: center; float: left">
  <h2>CPU</h2>
  <p>
    <% if get_cpuMount.empty? == false %>
    <%= image_tag(@get_cpuMount.first.url, width: '300') %>

    <% end %>
  </p>
</div>


<script type="text/javascript">
$('#your_hand').hide();
$('#cpu_hand').hide();
$.ajax({
    url:'/pages/start_event',
    type:'PUT'

  });


$('#start').click(function(){
  $('#your_hand').show();
  $('#cpu_hand').show();
  // $('#start').hide();
});
</script>
